@use "../utils" as u;
@use "../globals/colors" as colors;

$sidebar-width: 20rem;

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  position: relative;

  &.showSidebar {
    grid-template-columns: 1fr $sidebar-width;
  }

  .left {
    // overflow: auto;
    display: flex;
    flex-direction: column;

    & > main {
      flex: 1;

      padding: 1.6rem 2.6rem;
      padding-bottom: 2.3rem;
      padding-left: 7.2rem;
    }
  }
}

.sidebar {
  box-shadow: 17px 4px 148px rgba(244, 187, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  height: 100%;
}

// @include u.breakpoint(xLarge) {
//   .dashboard {
//     height: auto;
//     padding-bottom: 4rem;

//     &.showSidebar {
//       grid-template-columns: 1fr;
//     }
//   }

//   .sidebar {
//     display: none;
//   }
// }

@include u.breakpoint(large) {
  .dashboard {
    min-height: 100vh;
    height: auto;
    max-height: auto;
    padding-bottom: 6rem;

    &.showSidebar {
      grid-template-columns: 1fr;
    }
    .left {
      & > main {
        padding: 1rem 3%;
      }
    }

    .sidebar {
      display: none;
    }
  }
}
