@use "../utils" as u;
@use "../globals/colors" as colors;

.navbar {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  position: relative;

  & > :not(:last-child) {
    margin-right: 2.2rem;
  }
}

.logo {
  width: 4.2rem;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.LogoTitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;

  & > :not(:last-child) {
    margin-right: u.rem(18);
  }

  .refreshIcon {
    transform: rotate(40deg);
    font-size: 0.8em;
  }

  h1 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: colors.$yellow;
    }
  }
}

.downIcon {
  font-size: 1.1em;
}

.userIcon {
  display: none;
}

.pageName {
  position: relative;
  z-index: 100 !important;

  & > button {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: u.rem(16);
    }
  }

  .pageNameDropdown {
    position: absolute;
    top: 160%;
    left: 0;
    padding: 1rem;
    background-color: var(--color-yellow);
    width: 100%;
    border-radius: var(--r10px);
    box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
    transform: translateY(0.6rem);
    pointer-events: none;
    opacity: 0;
    color: var(--text-changeable-white);

    &.show {
      opacity: 1;
      transform: translateY(0rem);
      pointer-events: visible;
    }

    @include u.breakpoint(large) {
      display: none;
    }
  }
}

@include u.breakpoint(large) {
  .navbar {
    justify-content: space-between;
    padding: 0 3%;
    height: u.rem(110);

    & > :not(:last-child) {
      margin-right: 0rem;
    }
  }

  .pageDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .pageName {
    justify-content: center;
    margin: 0 auto;
    width: fit-content;

    & > :not(:last-child) {
      // margin-right: u.rem(8);
      margin-right: u.rem(0);
    }

    & > button {
      & > :not(:last-child) {
        margin-right: u.rem(0);
      }
    }
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--color-black);
  }

  .logo {
    display: none;
  }

  .userIcon {
    display: block;
  }

  .downIcon {
    // width: 0.6rem;
    // height: 0.6rem;
    display: none;
  }

  .LogoTitle {
    margin-bottom: 0.5rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0.4rem;

    & > :not(:last-child) {
      margin-right: u.rem(0);
    }

    .refreshIcon {
      display: none;
    }
  }
}
