@use "../utils/" as u;
@use "../globals/colors" as colors;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  z-index: 400;
  // background-color: red;
  width: 100%;
  overflow-y: hidden;

  &.wrapperShowing {
    pointer-events: visible;
    overflow-y: auto;
  }
}

.sidebarLeft {
  $padding-y: u.rem(42);
  $padding-x: u.rem(40);

  height: fit-content;
  min-height: 100%;

  width: u.rem(300);
  background-color: var(--right-sidebar-bg);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  transform: translateX(calc(-1 * u.rem(300)));

  &.open {
    transform: translateX(0);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: $padding-y $padding-x;

    .closeBtn {
      font-size: 1.8rem;
      display: flex;
      cursor: pointer;
    }
  }

  main {
    flex: 1;
    a {
      display: block;
      padding: u.rem(12) $padding-x;
    }

    a.active {
      background-color: colors.$yellow;
      box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
    }

    & > :not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  .footer {
    padding: $padding-y $padding-x;
  }
}
