@use "../globals/colors" as colors;

.dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  width: 20vw;
  background: #000000;
  box-shadow: 0px 0.2777777777777778vw 2.7777777777777777vw rgba(0, 0, 0, 0.35);
  border-radius: 0.6944444444444444vw;
  padding: 1.6vw 2vw;
  z-index: 200;

  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.dropdown.open {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: visible;
}

.notificationCard {
  border-bottom: 0.2vw solid colors.$gray;
  padding: 0.7vw 0;
  position: relative;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 1.6vw;
    font-size: 1.1111111111111112vw;
  }

  &.notify::before {
    content: "";
    min-width: 0.4861111111111111vw;
    min-height: 0.4861111111111111vw;
    background: colors.$yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
  }
}
