.wrapper {
  height: 100%;
  border: 3px solid var(--color-yellow);
  border-radius: 0.6rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  gap: 0.6rem;
  background-color: var(--_bg);
}
