@use "../utils" as u;
@use "../globals/colors" as colors;

.button {
  background: var(--color-icon-button);
  box-shadow: u.rem(0) u.rem(8) u.rem(23) rgba(0, 0, 0, 0.21);
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &.rounded {
    border-radius: 50%;

    & > img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  & > img {
    border-radius: 0.7rem;
    width: 100%;
    height: 100%;
  }

  .iconWrap {
    position: relative;
    display: flex;
    width: 48%;
    height: 48%;
    user-select: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .notficationCircle {
    position: absolute;

    top: -0.1rem;
    right: -0.1rem;

    width: 0.7rem;
    height: 0.7rem;

    background: colors.$yellow;
    border-radius: 50%;
    z-index: 10;
  }

  & > .notficationCircle {
    top: -0.3rem;
    right: -0.3rem;

    width: 0.9rem;
    height: 0.9rem;
  }

  @include u.breakpoint(large) {
    border-radius: 0.4rem !important;

    & > img {
      border-radius: 0.4rem;
    }

    .notficationCircle {
      top: -0.05rem !important;
      right: -0.05rem !important;

      width: 0.5rem;
      height: 0.5rem;

      background: colors.$yellow;
      border-radius: 50%;
      z-index: 10;
    }

    & > .notficationCircle {
      top: -0.2rem;
      right: -0.2rem;

      width: 0.7rem;
      height: 0.7rem;
    }
  }
}
