@use "../utils" as u;

.container-wrapper {
  max-width: 1700px;
  width: 90%;
  margin: 0 auto;
}
.container-wrapper-2 {
  max-width: 1600px;
  width: 85%;
  margin: 0 auto;
}
.container-wrapper-3 {
  max-width: 1400px;
  width: 70%;
  margin: 0 auto;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.w-fit-content {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-end {
  justify-content: flex-end;
}
